<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Java BootCamp</title>
    <link href="favicon.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/index">Java BootCamp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/javabootcamp">Java BootCamp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.idgesg.net/images/article/2019/05/java_binary_code_gears_programming_coding_development_by_bluebay2014_gettyimages-1040871468_2400x1600-100795798-large.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Should You Lear Java in 2020 </h1>
                    <h2 class="subheading">Why You Should Learn Java in 2020</h2>
                    <span class="meta">Posted by
              <a href="#">Josia Rodriguez</a>
              on March 14, 2020</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Learning how to code might be slightly scary for the newcomers, and that’s hardly a surprise. It’s not easy to stay cool and smash along millions of programmers globally with zero experience and an intangible idea of your goals and career. Would your education be intense? Yes. Is it too late to try? Of course, not. </p>

                <p>You probably look for a rapid progress, if you’re serious about programming, and the language is your basis to start with. Even if you search for the answer to the question, which is the best programming language to learn, you won’t find a unanimous opinion. First of all, every developer will try to “push” you his own choice. Secondly, there’s no such thing as the best language, because they serve different purposes.</p>

                <p>There are at least half a dozen programming languages, which keep the highest positions of different rankings. According to TIOBE Programming Community ranking, Java firmly keeps the first place with the largest number of searches through the most popular search engines. It is tracked by C, Python and C++ languages. As for GitHub’s Octoverse ranking, the top three most popular languages of all time are Javascript, Java, and Python. </p>


                <h2 class="section-heading">Why Java is so popular</h2>

                <p>Now you’re probably thinking something like: “why exactly do I need Java of all options”? As told before, there will never be a programming language with unchallenged authority. But still, you can make a choice quite easy, if you analyze the long-term benefits of mastering a certain language. Let’s talk about why Java is so popular and why little is going to change in the closest time. </p>

                <p>You may heard something like “Java is too old, it will become out of use in a few years”. Actually, it’s of the same age as other widely used programming languages. The story of its creation begins in the 90s at a Californian company Sun Microsystems. You may know (or remember), that back in the 90s a TV was truly influential in communications and entertainment. For this reason, it inspired many useful progressive inventions. And, by implication, it kickstarted the creation of Java language. </p>



                <p>It was initially developed for interactive television to let application developers write code once and run it on any platform without the need to decompile it, thanks to JVM (Java virtual machine). For the obvious reason, such flexibility and multiplatform usability can be applied anywhere. </p>

                <h2 class="section-heading">What is Java used for</h2>

                <p>So, nowadays, what is Java used for? Particularly, for a majority of modern demands. Java is object-oriented, class-based, all-purpose language that allows developers to create programs, which are compatible with any devices. It has many benefits for a beginner in programming and for a further career development. Let’s see what’s waiting for a future Java developer step by step.</p>

                <a href="#">
                    <img class="img-fluid" src="https://i.ytimg.com/vi/NOiT7mZjPXw/maxresdefault.jpg" alt="">
                </a>
                <span class="caption text-muted"></span>

                <p></p>

                <p></p>


            </div>
        </div>
    </div>
</article>

<hr>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <a href="https://twitter.com/josia_rodriguez" class="fa fa-twitter"></a>
                    <a href="https://twitter.com/josia_rodriguez" class="fa fa-facebook"></a>
                    <a href="https://github.com/josiarod" class="fa fa-github"></a>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Java BootCamp2020</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/jquery.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/clean-blog.min.js"></script>

</body>

</html>